{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="container d-flex d-flex-column justify-content-center mt-5 ">
        {% block title %} <h1>Add a new task</h1> {% endblock %}
    </div>

    <div class="container mb-3">
        <form class="" action="" method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" name="button">Add</button>
        </form>
    </div>
{% endblock %}